<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Third Page</title>
</head>
<body>
    <!-- <h3>Rendering third time</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam voluptatem corrupti dicta asperiores officia? Numquam mollitia voluptates, expedita nesciunt et magni sapiente in perferendis natus illum maiores itaque ratione corporis similique laboriosam! Accusantium sapiente est temporibus tempora dolorem ea, praesentium impedit quis explicabo ut itaque ad iure ipsam nihil numquam.</p> -->
    <h3>I love to buy {{product_name}}</h3>
    <p>The cost of {{product_name}} is {{price}}</p>
    <p>The colour of {{product_name}} is {{pant_color}}</p>
</body>
</html>