<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Second render</title>
</head>
<body>
    <!-- <h1>This is second page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit accusamus, inventore libero quas culpa ea repudiandae placeat distinctio ullam velit nesciunt non molestiae rem necessitatibus laudantium cum. Nisi, pariatur reprehenderit!</p> -->
    <h2>My name is: {{name}}</h2>
    <p>My currently pursuing the {{course}} classes</p>
    <p>The time duration of these classes is{{time_duration}} months</p>
</body>
</html>