<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index html</title>
</head>
<body>
    <!-- <h1>
        First html page
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, autem voluptates? Nam iusto porro repudiandae obcaecati, quisquam temporibus quis animi.</p> -->
    <h1>Title: {{title}}</h1>
    <p>Description: {{descriptiom}}</p>
    <p>Page number: {{page_no}}</p>
</body>
</html>
